USE [master]
GO
/****** Object:  Database [ShopOnline]    Script Date: 11/29/2021 4:26:04 PM ******/
CREATE DATABASE [ShopOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopOnline]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [nvarchar](10) NOT NULL,
	[MaLoaiSanPham] [nvarchar](10) NULL,
	[MaNhaSanXuat] [nvarchar](10) NULL,
	[TenSanPham] [nvarchar](450) NULL,
	[CauHinh] [text] NULL,
	[HinhChinh] [nvarchar](50) NULL,
	[Hinh1] [nvarchar](50) NULL,
	[Hinh2] [nvarchar](50) NULL,
	[Hinh3] [nvarchar](50) NULL,
	[Hinh4] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[LuotView] [int] NULL,
	[TinhTrang] [nchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[LikeProduct] [int] NULL,
	[AveragePoint] [tinyint] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_SimilarProducts]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[udf_SimilarProducts](@producer_code nvarchar(10),@price int)
returns table
as
return(
select top 5 * from SanPham where MaNhaSanXuat = @producer_code and gia <= (@price + 2000000)
)
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FullName] [varchar](100) NULL,
	[UserAddress] [varchar](200) NULL,
	[DOB] [date] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GuestAccount]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[vw_GuestAccount] as
 SELECT * FROM AspNetUsers WHERE Id NOT IN(SELECT UserId FROM AspNetUserRoles)
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AdminAccount]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AdminAccount] as
 SELECT AU.Id,AU.Email,AU.PhoneNumber,AU.FullName,AU.UserAddress,AU.DOB FROM AspNetUsers AS AU LEFT JOIN AspNetUserRoles AS AUR ON AU.Id = AUR.UserId
 INNER JOIN AspNetRoles AS AR ON AUR.RoleId = AR.Id WHERE AR.[Name] = 'Admin' 
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSanPham] [nvarchar](10) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](3) NULL,
 CONSTRAINT [PK_LoaiSanPham1] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetLoaiSanPhamByStatus]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create function [dbo].[udf_GetLoaiSanPhamByStatus](@TinhTrang nvarchar(3))
 returns table
 as 
 return
 (select * from LoaiSanPham where TinhTrang = @TinhTrang) 
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetSanPhamByMaLoaiSanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE function [dbo].[udf_GetSanPhamByMaLoaiSanPham](@MaLoaiSanPham nvarchar(10))
 returns table
 as 
 return
 (SELECT * FROM SanPham WHERE MaLoaiSanPham = @MaLoaiSanPham)
GO
/****** Object:  View [dbo].[vw_GetTop4LaptopByNew]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_GetTop4LaptopByNew] as
select top 4 * from SanPham where GhiChu ='New' and MaLoaiSanPham = 'LSP02' order by Gia desc
GO
/****** Object:  View [dbo].[vw_LoaiSanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_LoaiSanPham] as
SELECT * FROM LoaiSanPham
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetLoaiSanPhamByMaLoaiSanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[udf_GetLoaiSanPhamByMaLoaiSanPham](@MaLoaiSanPham nvarchar(10))
returns table
as
return
(SELECT * FROM LoaiSanPham WHERE MaLoaiSanPham = @MaLoaiSanPham )
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNhaSanXuat] [nvarchar](10) NOT NULL,
	[TenNhaSanXuat] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](3) NULL,
	[MaLoaiSanPham] [nvarchar](10) NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GetNhaSanXuatByStatus]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_GetNhaSanXuatByStatus]
as 
SELECT * FROM NhaSanXuat WHERE TinhTrang = 0
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetNhaSanXuatByTenLoaiSanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[udf_GetNhaSanXuatByTenLoaiSanPham](@TenLoaiSanPham nvarchar(50))
returns table
as
return (
SELECT NSX.MaNhaSanXuat,NSX.TenNhaSanXuat,NSX.TinhTrang,NSX.MaLoaiSanPham from NhaSanXuat as NSX inner join LoaiSanPham as LSP on NSX.MaLoaiSanPham = LSP.MaLoaiSanPham 
where LSP.TenLoaiSanPham = @TenLoaiSanPham AND NSX.TinhTrang = 0
)
GO
/****** Object:  View [dbo].[vw_NhaSanXuat]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_NhaSanXuat] as select NSX.MaNhaSanXuat,NSX.TenNhaSanXuat,NSX.TinhTrang,LSP.TenLoaiSanPham from NhaSanXuat as NSX inner join LoaiSanPham as LSP on NSX.MaLoaiSanPham = LSP.MaLoaiSanPham
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetSanPhamByMaNhaSanXuat]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[udf_GetSanPhamByMaNhaSanXuat](@MaNhaSanXuat nvarchar(10))
returns table 
as
return(
select * from SanPham where MaNhaSanXuat = @MaNhaSanXuat and TinhTrang= '0'
)
GO
/****** Object:  View [dbo].[vw_GetSanPhamByStatus]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_GetSanPhamByStatus] as
select * from SanPham where TinhTrang = 0
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetSanPhamByMaSanPham]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[udf_GetSanPhamByMaSanPham](@MaSanPham nvarchar(10))
returns table
as
return(
select * from SanPham Where MaSanPham = @MaSanPham
)
GO
/****** Object:  View [dbo].[vw_GetTop4PhoneByNew]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vw_GetTop4PhoneByNew] as select top 4 *  from SanPham  where GhiChu = 'New' and MaLoaiSanPham = 'LSP01' order by gia desc
GO
/****** Object:  View [dbo].[vw_GetTop4PhoneByLuotView]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vw_GetTop4PhoneByLuotView] as select top 4 * from SanPham where MaLoaiSanPham='LSP01' order by LuotView desc
GO
/****** Object:  View [dbo].[vw_GetProduct]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_GetProduct] as SELECT * FROM SanPham
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetAccountById]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[udf_GetAccountById] (@id nvarchar(128))
returns table
as
return
(SELECT * FROM AspNetUsers WHERE Id = @id )
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [nvarchar](10) NOT NULL,
	[UserEmail] [nvarchar](128) NOT NULL,
	[CommentContent] [nvarchar](2048) NOT NULL,
	[Status] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[star] [tinyint] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[CustomeID] [nvarchar](50) NULL,
	[ShipName] [nvarchar](50) NULL,
	[ShipMobile] [nvarchar](50) NULL,
	[ShipAddress] [nvarchar](50) NULL,
	[ShipEmail] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ProductID] [nvarchar](10) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountOrderCommentActivitylog]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountOrderCommentActivitylog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[ActiveContent] [nvarchar](300) NULL,
	[Type] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'90ea4bdd-9d75-419a-bb85-9cc9db40f0da', N'Admin')
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'4179692712144727', N'11950442-79eb-4bbb-ae20-e0cdd8021866')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e0a11030-a435-4633-a4df-bf092bc96be3', N'90ea4bdd-9d75-419a-bb85-9cc9db40f0da')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [UserAddress], [DOB], [CreateDate]) VALUES (N'018e119c-65cf-4279-aed9-b15c760c0a9c', N'guest14@gmail.com', 0, N'AFohARp8TCsaXvTJuvOS9SZ4UvbF5MbegPiPczJ7f8riO6Ko+kihZxcn+YxXRJ8obA==', N'48f52968-16b0-4d75-a6b3-1b299dbcd8a0', NULL, 0, 0, NULL, 1, 0, N'guest14@gmail.com', N'OmaChi', NULL, NULL, CAST(N'2021-10-19T13:29:51.187' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [UserAddress], [DOB], [CreateDate]) VALUES (N'12503be1-c866-49f8-bd91-31f8d409f33c', N'guest10@gmail.com', 0, N'AIbT736nFtfaKBhHyAAuF5S9X9vzqsX4xCIuDRa5oBA7TaIDUIPEU/FMxYPqWo8XEA==', N'436b39c1-3001-465a-95f5-1aa8f8c97910', NULL, 0, 0, NULL, 1, 0, N'guest10@gmail.com', N'Toan Lee', NULL, NULL, CAST(N'2021-10-19T13:02:57.360' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [ProductId], [UserEmail], [CommentContent], [Status], [Date], [star]) VALUES (2, N'SP01', N'guest09@gmail.com', N'abc', 0, CAST(N'2021-08-13T12:04:31.420' AS DateTime), NULL)
INSERT [dbo].[Comment] ([Id], [ProductId], [UserEmail], [CommentContent], [Status], [Date], [star]) VALUES (3, N'SP01', N'guest09@gmail.com', N'abc', 0, CAST(N'2021-08-13T12:28:33.847' AS DateTime), NULL)
INSERT [dbo].[Comment] ([Id], [ProductId], [UserEmail], [CommentContent], [Status], [Date], [star]) VALUES (4, N'SP01', N'guest09@gmail.com', N'abc', 0, CAST(N'2021-08-13T15:12:25.113' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [TinhTrang]) VALUES (N'LSP01', N'Phone', N'0')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [TinhTrang]) VALUES (N'LSP02', N'Laptop', N'0')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [TinhTrang]) VALUES (N'LSP03', N'Accessories', N'0')
GO
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [TinhTrang], [MaLoaiSanPham]) VALUES (N'NSX01', N'Iphone', N'0', N'LSP01')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [TinhTrang], [MaLoaiSanPham]) VALUES (N'NSX02', N'SamSung', N'0', N'LSP01')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [TinhTrang], [MaLoaiSanPham]) VALUES (N'NSX03', N'Oppo', N'0', N'LSP01')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [CreateDate], [CustomeID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status]) VALUES (2, CAST(N'2021-07-23T12:13:42.973' AS DateTime), N'11950442-79eb-4bbb-ae20-e0cdd8021866', N'toan', N'7222021', N'ggggg', N'guest09@gmail.com', NULL)
INSERT [dbo].[Order] ([ID], [CreateDate], [CustomeID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status]) VALUES (3, CAST(N'2021-07-23T12:21:48.790' AS DateTime), N'11950442-79eb-4bbb-ae20-e0cdd8021866', N'toan', N'7222021', N'ggggg', N'guest09@gmail.com', NULL)
INSERT [dbo].[Order] ([ID], [CreateDate], [CustomeID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status]) VALUES (5, CAST(N'2021-10-08T11:20:50.810' AS DateTime), N'11950442-79eb-4bbb-ae20-e0cdd8021866', N'Le Nguyen Toan', N'0935320352', N'58 hoang van thu', N'lenguyentoan1997@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (N'SP01', 3, 1, CAST(24990000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (N'SP03', 5, 1, CAST(18990000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (N'SP05', 5, 1, CAST(32999000 AS Decimal(18, 0)))
GO
INSERT [dbo].[SanPham] ([MaSanPham], [MaLoaiSanPham], [MaNhaSanXuat], [TenSanPham], [CauHinh], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [LuotView], [TinhTrang], [GhiChu], [Description], [LikeProduct], [AveragePoint]) VALUES (N'SP01', N'LSP01', N'NSX01', N'iPhone 12 Pro Max', NULL, N'SP01_avatarV0.png', N'SP01thumbnail_1.png', N'SP01thumbnail_2.png', N'SP01thumbnail_3.png', N'SP01thumbnail_4.png', 29000000, 90, N'0         ', N'abc', NULL, 5, 3)
INSERT [dbo].[SanPham] ([MaSanPham], [MaLoaiSanPham], [MaNhaSanXuat], [TenSanPham], [CauHinh], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [LuotView], [TinhTrang], [GhiChu], [Description], [LikeProduct], [AveragePoint]) VALUES (N'SP02', N'LSP01', N'NSX01', N'Iphone 6', N'<p>Chua Xac Dinh</p>
', N'2.jpg', NULL, NULL, NULL, NULL, 24990000, 1, N'0         ', NULL, NULL, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[tblAccountOrderCommentActivitylog] ON 

INSERT [dbo].[tblAccountOrderCommentActivitylog] ([Id], [Date], [ActiveContent], [Type]) VALUES (1, CAST(N'2021-10-19T13:45:37.273' AS DateTime), N'New User Son Tuong registered', NULL)
INSERT [dbo].[tblAccountOrderCommentActivitylog] ([Id], [Date], [ActiveContent], [Type]) VALUES (2, CAST(N'2021-10-19T13:52:59.970' AS DateTime), N'New User Full Name:Cafe Ngon and Email:guest16@gmail.com registered', NULL)
INSERT [dbo].[tblAccountOrderCommentActivitylog] ([Id], [Date], [ActiveContent], [Type]) VALUES (3, CAST(N'2021-10-23T12:38:37.683' AS DateTime), N'New User Full Name:Le Nguyen Toan and Email:guest17@gmail.com registered', N'account')
SET IDENTITY_INSERT [dbo].[tblAccountOrderCommentActivitylog] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/29/2021 4:26:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/29/2021 4:26:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/29/2021 4:26:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/29/2021 4:26:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/29/2021 4:26:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/29/2021 4:26:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[LoaiSanPham] ADD  CONSTRAINT [DF_LoaiSanPham1_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF_OrderDetail_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_Gia]  DEFAULT ((0)) FOR [Gia]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_LuotView]  DEFAULT ((0)) FOR [LuotView]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_LikeProduct]  DEFAULT ((0)) FOR [LikeProduct]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [AveragePoint]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderDataByDate]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetOrderDataByDate] @DateFrom datetime,@DateTo datetime
as
select [Order].CreateDate,OrderDetail.ProductID,OrderDetail.OrderID,OrderDetail.Quantity,OrderDetail.Price from OrderDetail inner join [Order] on OrderDetail.OrderID = [Order].ID where [Order].CreateDate between @DateFrom and @DateTo
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProductAveragePoint]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[sp_UpdateProductAveragePoint] (@AveragePoint tinyint,@MaSanPham varchar(10))
as
begin
update SanPham set AveragePoint = @AveragePoint where MaSanPham = @MaSanPham
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProductLike]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdateProductLike] @MaSanPham nvarchar(10)
as
update SanPham Set LikeProduct = LikeProduct + 1 Where MaSanPham = @MaSanPham
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProductViews]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdateProductViews] @MaSanPham nvarchar(10)
as
update SanPham set LuotView = LuotView + 1 where MaSanPham = @MaSanPham
GO
/****** Object:  StoredProcedure [dbo].[usp_CommentUpdateDelete]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_CommentUpdateDelete](@Id int,@CommentContent nvarchar(2048),@StatementType nvarchar(10))
as
  begin
       if @StatementType ='UPDATE'
          Begin
		       Update Comment Set CommentContent = @CommentContent Where Id = @Id
		  end
       else if @StatementType = 'DELETE'
	      begin
		       Delete from Comment where id = @Id 
		  end
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetActivityLogByDate]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetActivityLogByDate](@dateFrom datetime,@dateTo datetime)
as
begin
select * from tblAccountOrderCommentActivitylog where Date between  @dateFrom and @dateTo order by tblAccountOrderCommentActivitylog.Id desc
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCommentInforByProductId]    Script Date: 11/29/2021 4:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCommentInforByProductId] @ProductId nvarchar(10)
AS
SELECT Comment.Id,Comment.UserEmail,Comment.CommentContent,Comment.[Date],Comment.star,AspNetUsers.FullName
FROM Comment Right JOIN AspNetUsers  ON Comment.UserEmail = AspNetUsers.Email 
Where ProductId = @ProductId ORDER BY [Date] DESC
GO
USE [master]
GO
