<httpRuntime validateRequest="false" />

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<br />
<h2 class="title-product-admin">Create Product</h2>
@using (Html.BeginForm("Create", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="product-admin">
        <tr>
            <td>Product Code</td>
            @*name input like name DB*@
            <td><input class="input-product-style" maxlength="11" type="text" name="MaSanPham" /></td>
            <td rowspan="8" class="td-avatar-product">
                <div class="image">
                    <img class="img" id="imgAvatar" src="~/Asset/images/defaultPhone.jpg" />
                    <div class="image-more">
                        <ul class="row" style="margin-top:50px;">
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                <img class="img1 img-responsive" id="imgThumbnail1" src="~/Asset/images/defaultPhone.jpg">
                                <span>Image 1</span>
                            </li>
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                <img class="img2 img-responsive" id="imgThumbnail2" src="~/Asset/images/defaultPhone.jpg">
                                <span>Image 2</span>
                            </li>
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                <img class="img3 img-responsive" id="imgThumbnail3" src="~/Asset/images/defaultPhone.jpg">
                                <span>Image 3</span>
                            </li>
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                <img class="img4 img-responsive" id="imgThumbnail4" src="~/Asset/images/defaultPhone.jpg">
                                <span>Image 4</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Product Type Code</td>
            <td>
                @Html.DropDownList("MaLoaiSanPham", null, new { @class = "product-type-list" })
            </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input class="input-product-style" type="text" name="TenSanPham" maxlength="11" /></td>
        </tr>
        <tr>
            <td>Image Avatar</td>
            <td><input type="File" class="img" id="file_Hinh" name="HinhChinh" onchange="loadImgAvatar(this)" /></td>
        </tr>
        <tr>
            <td>Image 1</td>
            <td><input type="File" class="img1" id="file_Hinh" name="Hinh1" onchange="loadImgThumbnail1(this)" /></td>
        </tr>
        <tr>
            <td>Image 2</td>
            <td><input type="File" class="img2" id="file_Hinh" name="Hinh2" onchange="loadImgThumbnail2(this)" /></td>
        </tr>
        <tr>
            <td>Image 3</td>
            <td><input type="File" class="img3" id="file_Hinh" name="Hinh3" onchange="loadImgThumbnail3(this)" /></td>
        </tr>
        <tr>
            <td>Image 4</td>
            <td><input type="File" class="img4" id="file_Hinh" name="Hinh4" onchange="loadImgThumbnail4(this)" /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input class="input-product-style" type="number" name="Gia" /></td>
        </tr>
        <tr>
            <td>Producer</td>
            <td>
                @Html.DropDownList("MaNhaSanXuat", null, new { @class = "producer-code-list" })
            </td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input class="input-product-style" type="text" name="GhiChu" /></td>
        </tr>
        <tr>
            <td class="td-config-product">Configuration</td>
            <td colspan="2">
                <textarea class="ckeditor" name="CauHinh" rows="4" cols="30"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input class="input-add-product" type="submit" name="btn_ThemDienThoai" value="Create Product" />
            </td>
        </tr>
    </table>
}
