
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h2 class="text-center">Create Product Type</h2>
                <br />
                @using (Html.BeginForm("Create", "LoaiSanPhamAdmin", FormMethod.Post, new { @class = "create-admin" }))
                {
                    <label for="fname">Product Type Code</label>
                    <input type="text" id="fname" name="MaLoaiSanPham" placeholder="Enter The Product Type Code" required>
                    <label for="lname">Product Type Name</label>
                    <input type="text" id="lname" name="TenLoaiSanPham" placeholder="Enter The Product Type Name" required>
                    <label for="status">Status</label>
                    <select id="status" required>
                        <option value="0">Not Locked</option>
                        <option value="1">Locked</option>
                    </select>
                    <input type="submit" value="Create">
                }
            </div>
        </div>
    </div>
</div>


