@model ShopOnlineConnection.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Delete Product Type</h2>
            <br />
            @using (Html.BeginForm("Delete", "LoaiSanPhamAdmin", FormMethod.Post, new { @class = "delete-admin" }))
            {
                <label for="fname">Product Type Code</label>
                <input type="text" id="fname" name="MaLoaiSanPham" required value="@Model.MaLoaiSanPham" readonly>
                <label for="lname">Product Type Name</label>
                <input type="text" id="lname" name="TenLoaiSanPham" required value="@Model.TenLoaiSanPham" readonly>
                <label for="status">Status</label>
                <select id="status" name="TinhTrang">
                    @if (@Model.TinhTrang == "1")
                    {
                        <option value="1">Locked</option>
                    }
                    else
                    {
                        <option value="0">Not Locked</option>
                    }
                </select>
                <input type="submit" value="Delete">
            }
        </div>
    </div>
</div>



