/* ---------------------------------------------------------------------------- */
/* ---------------------------------------- Product Admin-----------------------*/
/* ---------------------------------------------------------------------------- */
/*common title*/
.title-product-admin {
    margin-left: 15px;
}

.product-admin tr td {
    text-align: left;
}

.product-admin tr .td-avatar-product {
    text-align: center;
}

.edit-delete-product-avatar-img {
    border: 5px solid #ff0000;
    background-color: white;
    border-radius: 15px;
}

/*Create And Edit*/
.product-admin {
    width: 70%;
    margin: auto;
    background-color: black;
}

    .product-admin .img-responsive {
        border-radius: 3px;
        border: 5px solid #ff0000;
        max-height: 85px;
        margin-bottom: 10px;
    }

    .product-admin ul li {
        list-style: none;
    }

    .product-admin .img {
        max-height: 300px;
    }

    .product-admin input[type=text] {
        width: 100%;
        background-color: black;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ff0000;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .product-admin input[type=number] {
        width: 100%;
        background-color: black;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ff0000;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .product-admin input[type=submit] {
        width: 100%;
        background-color: #2A9FD6;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .product-admin input[type=submit]:hover {
            background-color: #45a049;
        }

    .product-admin tr td .input-product-style {
        width: 300px;
        float: left;
        height: 35px;
    }


    .product-admin tr td .product-type-list, .producer-code-list {
        float: left;
        width: 300px;
        background: black;
        height: 30px;
    }

    .product-admin tr .td-config-product {
        width: 300px;
    }

    .product-admin tr td input[type=File] {
        float: left;
    }

    .product-admin tr td textarea {
        width: 300px;
        height:150px;
        max-width: 100px;
        max-height: 600px;
    }

    .product-admin tr td .input-add-product {
        height: 40px;
        width: 300px;
        margin-left: 32%;
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
    }

    /*Edit*/
    .product-admin tr td #conditionProduct {
        width: 30%;
        background-color: black;
        margin-top: 15px;
        margin-bottom: 10px;
    }

/*Delete*/
.product-delete {
    width: 100%;
    float: left;
}

    .product-delete tr td input[type=submit] {
        height: 40px;
        width: 300px;
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        margin-top: 15px;
    }
