/* ---------------------------------------------------------------------------- */
/* -------------------Producer,Products Type Admin------------------------------*/
/* ---------------------------------------------------------------------------- */

/*Create*/
.create-admin {
    width: 50%;
    margin: auto;
}

    .create-admin #status {
        width: 20%;
        color: black;
    }

    .create-admin input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: black;
    }

    .create-admin input[type=submit] {
        width: 100%;
        background-color: #2A9FD6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .create-admin input[type=submit]:hover {
            background-color: #45a049;
        }

/*Edit*/
.edit-admin {
    width: 60%;
    margin: auto;
}

    .edit-admin #status {
        color: black;
        width: 20%;
    }

    .edit-admin input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: black;
    }

    .edit-admin input[type=submit] {
        width: 100%;
        background-color: #2A9FD6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .edit-admin input[type=submit]:hover {
            background-color: #45a049;
        }

/*Delete*/
.delete-admin {
    width: 50%;
    margin: auto;
}

    .delete-admin #status {
        color: #ccc;
        background-color: #5D5E63;
        width: 20%;
    }

    .delete-admin input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #5D5E63;
    }

    .delete-admin input[type=submit] {
        width: 100%;
        background-color: #2A9FD6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .delete-admin input[type=submit]:hover {
            background-color: #45a049;
        }
