@model List<WebApplication1.Models.FavoriteProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (Model.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product Images</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/Asset/images/@item.Product.HinhChinh" width="50" /></td>
                                <td>@item.Product.TenSanPham</td>
                                <td>@item.Product.Gia.GetValueOrDefault(0).ToString("N0")</td>
                                <td><a href="#" data-id="@item.Product.MaSanPham" class="btn-add-cart">Add Cart</a></td>
                                <td><a href="#" data-id="@item.Product.MaSanPham" class="btn-delete">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="alert alert-danger">
                    There are no products in the wishlist
                </p>
            </div>
        </div>
    </div>
}

<script>
    $('.btn-add-cart').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            url: '/Cart/AddItem',
            data: {
                productId: $(this).data('id'),
                quantity: 1
            },
            dataType: 'json',
            type: 'POST',
            success: window.location.href = "/Cart"
        })
    });

    $('.btn-delete').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            url: '/FavoriteProduct/DeleteFavoriteProduct',
            data: { productId: $(this).data('id') },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.status == true) {
                    window.location.href = "/FavoriteProduct";
                }
            }
        })
    });

</script>