@model ShopOnlineConnection.NhaSanXuat
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Delete Producer</h2>
            @using (Html.BeginForm("Delete", "NhaSanXuatAdmin", FormMethod.Post, new { @class = "delete-admin" }))
            {

                <label for="fname">Producer Code</label>
                <input type="text" id="fname" name="MaNhaSanXuat" required value="@Model.MaNhaSanXuat" readonly>

                <label for="lname">Producer Name</label>
                <input type="text" id="lname" name="TenNhaSanXuat" required value="@Model.TenNhaSanXuat" readonly>

                <label for="country">Status</label>
                <select id="country" style="width: 15%;background-color: #5D5E63;" name="TinhTrang">

                    @if (@Model.TinhTrang == "1")
                    {
                        <option value="1">Not Locked</option>
                    }
                    else
                    {
                        <option value="0">Locked</option>
                    }
                </select>
                <input type="submit" value="Delete">
            }
        </div>
    </div>
</div>



