
.rating .checked {
    color: red;
}

.products .height-products {
    height: 537px;
}

.products .product .caption .name {
    margin-top: 30px;
}

.products .product .buttons {
    margin-top: 20px;
}
